

@font-face {
    font-family: BreuerText;
    src: url('fonts/BreuerText-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: BreuerText;
    src: url('../fonts/BreuerHeadline.ttf') format('truetype');
}

@font-face {
    font-family: BreuerText;
    src: url('../fonts/BreuerHeadline-Oblique.otf') format('opentype');
    font-style: oblique;
}
@font-face {
    font-family: BreuerText;
    src: url('../fonts/BreuerHeadline-Medium.ttf') format('truetype');
    font-style: normal;
    
}
@font-face {
    font-family: BreuerText;
    src: url('../fonts/BreuerText-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: BreuerText;
    src: url('../fonts/BreuerText-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}





html, body{
    

    line-height: 1;
    font-size: 62.5%;    
    box-sizing: border-box;
    scroll-behavior: smooth;
  
    }

body{

background-image: url('../images/background.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;


}

.menu li{

    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    

}

/* push the two items a little to the center */
.menu li ul{

padding-left: 15rem;
padding-right: 15rem;

}


.main-content{

    width: 100%;
    position: relative;
    text-align: center;
}

.main-content img{

    display: block;
    margin: auto;
    

}

.main-content-items {
     height: 300px;
     width: 400px;
     position: absolute;
     text-transform: uppercase;
     
     top: 48%;  /* position the top  edge of the element at the middle of the parent */
     left: 50%;
     transform: translate(-50%, -50%);
     color: #ffff;
     overflow-wrap: break-word;
     
}
    


#text1{

    font-family: "BreuerText"; 
    font-style: oblique;
    font-size: 1.8rem;
}

#text2{

font-family: "BreuerText"; 

font-style: oblique;
color: rgba(255, 217, 0, 0.979);
font-size: 4.2rem;


}
#text3{

    font-family: "BreuerText"; 
    font-style: oblique;
    color: rgba(255, 217, 0, 0.979);
    font-size: 9.5rem;
    
    }

#text4{

    font-family: "BreaurText"; 
        font-size: 1rem;
        font-style: normal;
        word-spacing: 2px;
}



.email{
    margin-top: 1rem;
    padding: 5px 0;
    width:23rem;

}

label{
    background-color: skyblue;
    display: block;
    color: red;
    width: 300px;
    z-index: 1;
}

.container-Btn{
    display: block;
    margin-top: 1rem;
    
}
.signup-Btn{
    font-family: 'BreuerText';
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    background: linear-gradient(to right, #232251, #62a9dd 25%, #62a9dd 75%, #232251 100%);
    
    color: #ffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    padding: 0 50rem;
 
    

} 
 .signup-Btn:hover{

    background: linear-gradient(to left, #62a9dd, #232251 21%, #232251 85%, #62a9dd 100%);
    cursor: pointer;
}

.border {
    position: relative;
    padding: 0 50px;
    border: 0 solid #e62b27;
    border-radius: 10px;
}
.border:after, 
.border:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content:'';
}
.border:after {
  border: 0 solid #ffd511;
  border-radius: 10px;
}
.border:before {
  border: 0 solid #63b32e;
  border-radius: 10px;
}

.border.top, 
.border.top:after,
.border.top:before {
  border-top-width: 1px;
}
.border.bottom, 
.border.bottom:after,
.border.bottom:before {
  border-bottom-width: 1px;
}
.border.side, 
.border.side:after,
.border.side:before {
  border-right-width: 1px;
  border-left-width: 1px;
}

.border.top:before {
  top: 1px;
}
.border.bottom:before {
  bottom: 1px;
}
.border.side:before {
  left: 1px;
  right: 1px;
}




















.container-Steps{
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 5rem;
    margin: 0;
}



.image-Steps {
    
    animation-name: spinners;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    
}

.description-Steps{
    display: inline-block;
    font-family: BreuerText;
    
    font-size: 2.7rem;
    color: #ffff;
    

}


#step1, #step2, #step3{
    width:30rem;
    text-transform: uppercase;
    margin-top: 5rem;
    

}






/* FOOTER (dropdown & modal) */
footer{
    padding: 1rem 0 40px;
    width: 100%;
    overflow: hidden;
}
  
.footer-container{
   
    padding: 0;
    text-align: center;
    color: #ffff;
}

    .footer-menu{

        display:flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem 0;    
        cursor: pointer;

    }

    .footer-menu div{

        margin: 0 5px;

    }


/* About Coral Sports Betting */



.ui-accordion .ui-accordion-header{ 
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: #ffff;
    width: auto;
    font-weight: unset;
    font-size: 1rem;
}

.ui-accordion .ui-accordion-content{

    background-color: #001f3f;
    color: #ffff;
    text-align: left;
    border: none;
    
}

h5{
    display: inline;
    font-family: BreuerText;
    font-weight:normal;
    font-size: 1rem;
    text-decoration: underline;
    
}

.arrow{

    margin: 0;
    padding: 0;
}

.rotate{
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    
    transition: all 0.2s ease;
}

.rotate.down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90def);
}


.ui-state-active .fas{-moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90def);}




/* Terms and Conditions */

.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 50;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */


  .tConditions-Title{
    width: 100%;
    background-color: #62a9dd;
    text-align: center; 
    font-size: 2rem;
    margin: 0 0;
    padding: 0;
  }

  .tConditions-Content {
    font-size: 2.5em;
    text-align: left;
    background-color: #fefefe;
    color: black;
    
    padding: 10;
    border: 1px solid #888;
    height: 75vh;
    width: 90vw; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
      background-color: #e42626;
    color: #000000;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    background-color: #e42626;
    color: #ffff;
    text-decoration: none;
    cursor: pointer;
  }






/* Arrow rotate on click */

.rotate{
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
}

.rotate.down{
    
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}


/* Steps animation (border dapat) */
@keyframes spinners {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        
    }
}


/* Larger than mobile */
@media (max-width: 380px) {

    body{width: 100vw}
.menu li ul{
    display: block;
    padding: 4rem;

}
.menu img{    
    width: 30vw;
    max-width: 500px;
    height: 100%;
}

.main-content{

margin-right: 0;
align-items: center;
text-align: center;
}

.main-content img{

width: 50vw;

}

.main-content-items{


height: 50%;
top: 37%;
   
}

.container-Steps{

    display: flex;
    flex-direction: column;

}










}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}